<table class="day-calendar-table-all-day">
  <tr data-ymd="{{date|date('Y-m-d')}}" data-all-day="true">
    <th class="hour">終日</th>
    <td>
      {% for event in all_day_events %}
      <div class="event {{event.statusClassName}}"
        style="color: {{calendar_colors[event.calendarId]['color']}};
        background-color: {{calendar_colors[event.calendarId]['background-color']}}"
        data-calendar-id="{{event.calendarId}}"
        data-event-id="{{event.fileBaseName}}">

        {{ event.summary }}
      </div>
      {% endfor %}
    </td>
  </tr>
</table>

<div class="day-calendar-table-wrapper">
  <table class="day-calendar-table">
    {% for hour in hours %}
      <tr data-hour="{{hour}}" data-ymd="{{date|date('Y-m-d')}}">
        <th class="hour">{{ hour }}</th>

        <td></td>
      </tr>
    {% endfor %}
  </table>

  <div class="day-calendar-events">
    {% for event in normal_events %}
      {% include 'event.html.twig' %}
    {% endfor %}
  </div>
</div>
