<div class="event"
  data-start-time={{event.startDateTimeOfDate(date).timeOfDayInMin}}
  data-time-length="{{event.timeIntervalInMin(date)}}"
  data-calendar-id="{{event.calendarId}}"
  data-event-id="{{event.fileBaseName}}">

  <table class="{{event.statusClassName}}" style="color: {{calendar_colors[event.calendarId]['color']}}; background-color: {{calendar_colors[event.calendarId]['background-color']}}">
    <tr><td class="event-summary trunc-str">
      {{event.summary}}
      {% if event.alarms|length > 0 %}
        <span><i class="fa fa-bell-o event-icon"></i></span>
      {% endif %}

      {% if event.rRule %}
        <span><i class="fa fa-repeat event-icon"></i></span>
      {% endif %}
    </td></tr>

    <tr><td>
      {% if event.isAllDay(date) %}
        <br>
        終日
      {% else %}
        {{event.startDateTimeOfDate(date).time}}
        <br>
        {{event.timeInterval(date)}}
      {% endif %}
    </td></tr>
  </table>
</div>
