{% set event_count = 0 %}

<table class="list-calendar-table">

{% for date in dates %}
  {% if date_event_map[date.timestamp]|length > 0 or date == now %}
    <tr class="event-date"><td colspan="2" class="{{date_class_strs[date.timestamp]}}">
      {{date.monthDayJp}}({{date.weekdayJp}})&nbsp;{{holiday_texts[date.timestamp]}}
    </td></tr>

    {% set event_count = event_count + date_event_map[date.timestamp]|length %}

    {% for event in date_event_map[date.timestamp] %}
    <tr class="event-detail {{event.statusClassName}}" data-event-id="{{event.fileBaseName}}" data-calendar-id="{{event.calendarId}}">
      <td class="event-time" style="border-right-color: {{calendar_colors[event.calendarId]['background-color']}};">
        {% if event.isAllDay(date) %}
          終日
        {% else %}
          {{event.startDateTimeOfDate(date).time}}

          {% if event.endDateTimeOfDate(date).time != '00:00' %}
            <br>
            <span class="event-end-time">
              {{event.endDateTimeOfDate(date).time}}
            </span>
          {% endif %}
        {% endif %}
      </td>

      <td>
        <div class="event-summary">
          {{event.summary}}
          {% if event.alarms|length > 0 %}
            <span><i class="fa fa-bell-o"></i></span>
          {% endif %}

          {% if event.rRule %}
            <span><i class="fa fa-repeat"></i></span>
          {% endif %}
        </div>
        {% if event.location != '' %}
          <div class="event-location">#{{event.location}}</div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  {% endif %}
{% endfor %}

{% if event_count == 0 %}
  <tr class="event-date"><td>予定がありません。</td></tr>
{% endif %}

</table>
